.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 16px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.info {
  background: #f2f2f2;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
