.container {
  max-width: 600px;
  margin: 40px 10px;
  text-align: center;
  border: 2px solid #eaeaea;
  border-radius: 12px;
  background-color: #fdfdfd;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2e7d32;
}



.loadingText {
  color: #555;
  margin-top: 16px;
}

.resultText {
  margin-top: 16px;
  font-weight: bold;
  color: #1b5e20;
}


