/* styles.css */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-top: 0px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.item {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item:hover {
  color: #16a34a; /* Green hover */
}

.icon {
  font-size: 20px;
  margin-bottom: 2px;
}

.label {
  font-size: 12px;
}
